/* line 1, F:/wip/neuronq.github.io/src/sass/_general.scss */
body {
  background: #fff; }

/* Transitions */
/* line 10, F:/wip/neuronq.github.io/src/sass/_general.scss */
.trans, .trans-r, .trans-r * {
  transition: all 300ms ease-in-out; }

/* line 4, F:/wip/neuronq.github.io/src/sass/_nav.scss */
body {
  padding-left: 100px; }
  /* line 6, F:/wip/neuronq.github.io/src/sass/_nav.scss */
  body.expanded-nav {
    padding-left: 155px; }

/* line 11, F:/wip/neuronq.github.io/src/sass/_nav.scss */
#navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px; }
  /* line 23, F:/wip/neuronq.github.io/src/sass/_nav.scss */
  #navigation ul.nav-links {
    margin: 0;
    padding: 0; }
    /* line 26, F:/wip/neuronq.github.io/src/sass/_nav.scss */
    #navigation ul.nav-links li {
      display: block;
      position: relative;
      height: 100px; }
    /* line 31, F:/wip/neuronq.github.io/src/sass/_nav.scss */
    #navigation ul.nav-links li a {
      display: block;
      position: absolute;
      text-transform: uppercase;
      line-height: 55px;
      padding: 0 20px;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transform: rotateZ(-90deg) translate(-100%);
              transform: rotateZ(-90deg) translate(-100%); }

/* line 44, F:/wip/neuronq.github.io/src/sass/_nav.scss */
body.expanded-nav #navigation {
  width: 105px; }
  /* line 47, F:/wip/neuronq.github.io/src/sass/_nav.scss */
  body.expanded-nav #navigation li a {
    -webkit-transform: none;
            transform: none; }
