/**
 * General
 */
html {
  height: 100%;
}
body {
  height: 100%;  
  background: url(/img/bg-plane1.jpg);
  background-position: 100% 0;
  background-size: cover;
  background-attachment: fixed;
  &.page-work, &.page-skills, &.page-contact {
    min-width: 430px;
  }
}

#header {

}

#main {
  max-width: 992px;
  overflow: hidden;
  padding: 30px;
  background: $main-bg-color;
  border-radius: 0 0 4px 0;
  border: solid $main-border-color;
  border-width: 0 1px 1px 0;
}

#footer {
  max-width: 992px;
  color: $main-bg-color;
  font-family: $titles-font;
  padding: 0 4px 50px 0;
  font-size: 10px;
}


/**
 * Transitions
 */
.trans, .trans-r, .trans-r * {
    transition: all 300ms ease-in-out;
}


/**
 * Chips
 */
.chip {
  background: $primary-color;
  color: $inverse-text-color;
}
.chip-small {
  padding: 0 8px;
  height: auto;
  line-height: 23px;
  margin-bottom: 4px;
}


/**
 * Nested Collapsibles
 */
.collapsible {
  li {
    background: $main-bg-color-opacque;
  }
  .collapsible-header {
    font-family: $titles-font;
    font-weight: 600;
  }
  &.collapsible-flat {
    box-shadow: none;
  }
  &.collapsible-light {
    box-shadow: none;
    border: 0;
    .collapsible-body {
      border: 0;
    }
  }
  &.collapsible-inverted {
    > li > .collapsible-header {
      background: #333;
      color: #fff;
      border-bottom-color: transparent;
      margin-bottom: 1px;
      font-weight: normal;
    }
  }
  
  // nesting
  .collapsible {
    margin: 30px 25px;
    &.collapsible-light {
      // margin-bottom: 0;
    }
  }
}


/**
 * Lists
 */
.collection {
  .collection-item {
    padding: 10px 15px;
    .devicons.lead-icon {
      margin: 0 10px 0 0;
    }
  }
}


/**
 * Projects
 */
.projects {
  // filters bar
  .filters-bar {
    .filter-by {
        text-align: center;
        line-height: 3.75rem;
        margin: 0 0 10px 0;
      .filter-by-label {
        display: inline-block;
        line-height: 32px;
        margin: 0 5px 0 0;
      }
      &.filter-by-tags {
        display: inline-block;
        .tags {
          .tag {
            
          }
        }
      }
    }
  }
  // items
  .items {
    .project {
      margin-bottom: 10px;
      min-height: 245px;
      
      .main-box {
        position: relative;
        height: 200px;
        background: url(/img/misc/light-bulb-image-583x387.jpg) 50% 0;
        background-size: cover;
        
        .title {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background: rgba(51, 51, 51, 0.89);;
          padding: 10px;
          color: $inverse-text-color;
          
          font-family: $titles-font;
          
          > * {
            display: inline;
          }
        }
        
        .techs {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.2);
          padding: 10px;
          .tech {
            background: #123;
          }
        }
      }
      
      .tags {
        padding: 10px;
        text-align: center;
        
        &, * {
          text-align: center;
          font-style: italic;
        }
        
        .tag {
          display: inline-block;
          opacity: 0.75;
        }
      }
    }
  }
}

/**
 * Page Skills
 */
.expand-or-collapse-all-skills-btn {
  cursor: pointer;
  margin: 10px 0 0 0;
}
