$sidenav-w: 50px;
$sidenav-expanded-w: 105px;

body {
  padding-left: $sidenav-w + 50px;
  &.expanded-nav {
    padding-left: $sidenav-expanded-w + 50px;
  }
}

#navigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidenav-w;

  font-family: $titles-font;

  ul.nav-links {
    margin: 0;
    padding: 0;
    li {
      display: block;
      position: relative;
      height: 100px;
    }
    li a {
      display: block;
      position: absolute;
      
      text-transform: uppercase;
      line-height: $sidenav-w + 5px;
      padding: 0 20px;

      transform-origin: 0 0;
      transform: rotateZ(-90deg) translate(-100%);
    }
  }
}
body.expanded-nav #navigation {
  width: $sidenav-expanded-w;

  li a {
    transform: rotateZ(0deg);
  }
}
