<% p = root.page %>

<footer id="footer">
    <div class="copyright pull-right">
        &copy; 2017 Andrei Anton
    </div>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="/scripts/main.js"></script>
