<% p = root.page %>

<footer id="footer">
    <p>FOOTER</p>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="/scripts/main.js"></script>
