<header id="header">
    <h1>A fresh start</h1>
</header>
<div id="navigation" class="z-depth-1">
    <ul class="nav-links">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Work</a>
        </li>
        <li>
            <a href="#">Skills</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
