<% p = root.page %>

<div id="navigation" class="z-depth-1 trans-r">
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/work.html">Work</a>
        </li>
        <li>
            <a href="#">Skills</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
