<% p = root.page = page_home -%>
<% include _head %>

</head>

<body class="intro-mode expanded-nav trans page-contact">

<% include _header %>

<main id="main" class="trans">
  
  <h1><%- p.title %></h1>

  <p>
    Just email me at:
  </p>
  <h4><a href="mailto:&#105;&#116;&#099;&#111;&#110;&#115;&#117;&#108;&#116;&#105;&#110;&#103;&#064;&#110;&#101;&#117;&#114;&#111;&#110;&#113;&#046;&#114;&#111;">&#105;&#116;&#099;&#111;&#110;&#115;&#117;&#108;&#116;&#105;&#110;&#103;&#064;&#110;&#101;&#117;&#114;&#111;&#110;&#113;&#046;&#114;&#111;</a></h4>
  <p>
    ...OK? After the introduction we can go on with more pleasant means of communication ;)
  </p>

</main>

<% include _footer %>

</body>
 
</html>
