<% p = root.page = page_home -%>
<% include _head %>

</head>

<body class="intro-mode expanded-nav trans page-contact">

<% include _header %>

<main id="main" class="trans">
  
  <h1><%- p.title %></h1>

  <p>
    I could put a nice and dandy contact form here. But...
    let's not reinvent the wheel, ok? Just email me at:
  </p>
  <h4><a href="mailto:itconsulting@neuronq.ro">itconsulting@neuronq.ro</a></h4>
  <p>
    After the introduction we can go on with more pleasant means of communication.
  </p>

</main>

<% include _footer %>

</body>
 
</html>
