<% p = root.page = page_home -%>
<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>

<main id="main" class="trans">
  
  <h1><%- p.title %></h1>

  <p>
    I'm a <strong>full-stack web developer</strong>, with more experience working on
    the backend side, but capable of delving into all components of a modern web app.
  </p>
  
  <p>
    (I also happen to have decent project-management skills, a dash of entrepreneurial
    spirit, some UX/I skills, passable graphic design skills, a passion for
    AI&nbsp;&amp;&nbsp;Machine&nbsp;Learning stuff and some knowledge
    of topics from the biotech/medical area.)
  </p>
  
  <p>
    But really, <strong>what I like to do is write solid code</strong> that
    ends up in shipped <strong>on time</strong> web apps that <strong>solve
    real problems</strong>!
  </p>

  <!--<button class="btn btn-block toggle-sidebar">Toggle sidebar</button>-->

</main>

<% include _footer %>

</body>
 
</html>
