<% include _head %>

</head>

<body class="intro-mode">

<% include _header %>

<main id="main">
  <p>OK now. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laudantium labore vitae fuga nemo rerum natus necessitatibus ipsum, numquam rem molestiae hic sapiente dolor laborum nam perferendis, cum voluptas quia!</p>
  <a href="/about.html">About</a>
</main>

<% include _footer %>

</body>

</html>
