<% p = root.page = page_home -%>
<% include _head %>

</head>

<body class="intro-mode expanded-nav trans page-home">

<% include _header %>

<main id="main" class="trans">
  
  <h1><%- p.title %></h1>

  <hr>

  <h5>
    <strong>Full-stack web developer</strong> with extensive experience working on the backend side of complex web apps.
  </h5>


  <p>
    I've worked with <strong>Python</strong> (Django), <strong>Nodejs</strong> (Express), <strong>PHP</strong> (Laravel), front-end Javascript (Polymer.js, jQuery, "vanilla" JS), <strong>MySQL</strong>, PostgreSQL, <strong>MongoDB</strong>, <strong>AWS</strong> (EC2, EMR).
  </p>

  <p>
    I write clean, secure and maintainalble code, following the S.O.L.I.D. principles of OOD. I can use TDD or BDD in my work when time and budget allows for this and high-reliability is a requirement.
  </p>
  
  <small>
    I adhere to the priciples of the <a href="http://manifesto.softwarecraftsmanship.org/#/en">Manifesto for Software Craftmanship</a> and I follow the Clean Code principles.
    <br>
    I also happen to have decent project-management skills (experience with Scrum and Kanban methodologies, a dash of entrepreneurial
    spirit, some UX/I skills, passable graphic design skills, a passion for
    AI&nbsp;&amp;&nbsp;Machine&nbsp;Learning stuff and some knowledge
    of topics from the biotech/medical-research area.
  </small>
  <br><br>
  
  <h5>
    But really, <strong>what I like to do most</strong> is write <strong>good code</strong>, ship great products <strong>on time</strong> and <strong>solve
    real problems</strong> without introducing unnecessary complexity.
  </h5>



  <!--<button class="btn btn-block toggle-sidebar">Toggle sidebar</button>-->

</main>

<% include _footer %>

</body>
 
</html>
