<% p = root.page = page_home -%>
<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>

<main id="main" class="trans">
  
  <h1><%- p.title %></h1>

  <hr>

  <h5>
    <strong>Full-stack web developer</strong> with extensive experience working on the backend side complex web apps.
  </h5>


  <p>
    I've worked with <strong>Python</strong> (Django), <strong>Nodejs</strong> (Express), <strong>PHP</strong> (Laravel), front-end Javascript (Polymer.js, jQuery, "vanilla" JS), <strong>MySQL</strong>, PostgreSQL, <strong>MongoDB</strong>, <strong>AWS</strong> (EC2, EMR, Lightsail).
  </p>

  <p>
    I write clean, secure and maintainalble code, following the S.O.L.I.D. principles of OOD. I can use TDD or BDD in my work when time and budget allows for this and high-reliability is a requirement.
  </p>
  
  <small>
    I also happen to have decent project-management skills (experience with Scrum and Kanban methodologies, a dash of entrepreneurial
    spirit, some UX/I skills, passable graphic design skills, a passion for
    AI&nbsp;&amp;&nbsp;Machine&nbsp;Learning stuff and some knowledge
    of topics from the biotech/medical area.
  </small>

  <br><br>
  
  <hr>
  <blockquote>
    But really, <strong>what I like to do most</strong> is write solid code that
    ends up in shipped <strong>on time</strong> and <strong>solves
    real problems</strong> without introducing unnecessary complexity.
  </blockquote>

  <small>
    I adhere to the priciples of the <a href="http://manifesto.softwarecraftsmanship.org/#/en">Manifesto for Software Craftmanship</a> that I've proudly signed, and I follow the <a>Clean Code principles</a>.
  </small>

  <img src="/img/clean-code.png" alt="Clean Code" style="width:80px; display:block; margin:0 auto"/>

  <!--<button class="btn btn-block toggle-sidebar">Toggle sidebar</button>-->

</main>

<% include _footer %>

</body>
 
</html>
