<% p = root.page = page_home %>

<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>

<main id="main" class="trans">
  <p>Testing deployment in new setup now.</p>

  <pre>
    <%= JSON.stringify(p) %>
  </pre>

  <button class="btn btn-block toggle-sidebar">Toggle sidebar</button>
  <a href="/work.html">Work</a>

</main>

<% include _footer %>

</body>
 
</html>
