<% include _head %>

</head>

<body class="intro-mode">

<% include _header %>

<main id="main">
  <p>Testing deployment in new setup.</p>
  <a href="/about.html">About</a>
</main>

<% include _footer %>

</body>

</html>
