<% p = root.page = page_work %>

<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>



<main id="main">

  <header id="header">
      <h1><%= p.title %></h1>
  </header>

  <p>Testing deployment in new setup.</p>

  <pre>
    <%= JSON.stringify(p) %>
  </pre>

  <button class="btn btn-block toggle-sidebar">Toggle sidebar</button>
  <a href="/index.html">Home</a>

  <hr>

  <div class="row">
    <div class="col l3 m6 s12">1</div>
    <div class="col l3 m6 s12">2</div>
    <div class="col l3 m6 s12">3</div>
    <div class="col l3 m6 s12">4</div>
    <div class="col l3 m6 s12">5</div>
    <div class="col l3 m6 s12">6</div>
    <div class="col l3 m6 s12">7</div>
    <div class="col l3 m6 s12">8</div>
  </div>

</main>

<% include _footer %>

</body>
 
</html>
