<% p = root.page = page_work %>

<% include _head %>

</head>

<body class="intro-mode expanded-nav trans">

<% include _header %>

<main id="main">
  <p>Testing deployment in new setup.</p>

  <pre>
    <%= JSON.stringify(p) %>
  </pre>

  <button class="btn btn-block toggle-sidebar">Toggle sidebar</button>
  <a href="/index.html">Home</a>
</main>

<% include _footer %>

</body>
 
</html>
